#lasagna-img{
    height: 500px;
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
body{
    font-size: large;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
h1,h3{
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;  
    background-color: darkgreen;
}